@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Rubik: "Rubik", sans-serif;
  --color-Avocado-400: oklch(0.92 0.19 114.08);
  --color-Navy-950: hsl(226, 43%, 10%);
  --color-Navy-900: hsl(235, 46%, 20%);
  --color-Purple-500: hsl(235, 45%, 61%);
  --color-Navy-200: hsl(236, 100%, 87%);
  --color-Purple-600: hsl(246, 80%, 60%)
}

* {
  font-family: "Rubik", sans-serif;
}
